@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h2{
  font-family: 'Playfair Display', serif;
}

.coloredbg{
  background: linear-gradient(130deg,#690d9125,#ff6e6143);
  height: 100vh;
}

#primary-section-my h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
}

#mydytext{
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
}

#primary-section-my h2{
  font-size: 2rem;
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-weight: lighter;
}



#primary-section-my h1{
color: transparent;
background: linear-gradient(90deg,#6A0D91,#FF6F61);
width: fit-content;
background-clip: text;
margin: auto;
padding-top: 4rem;
}

.gradient-text{
  color: transparent;
  background: linear-gradient(90deg,#6A0D91,#FF6F61);
width: fit-content;
background-clip: text;
}

section{
  max-width: 1200px;
  margin: auto;
}
#primary-section-my p{
max-width: 800px;
margin: auto;
text-align: center;
margin-top: 1rem;
}

.custom-btn {
  width: 170px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn-12{
  position: relative;
  border:none;
  box-shadow: none;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.my-btn-purple span{
  background: rgb(106,13,145); /* Fallback for older browsers */
  background: linear-gradient(0deg, rgba(106,13,145,1) 0%, rgba(122,23,171,1) 100%);  
}

.my-btn-red span{
  background: rgb(106,13,145); /* Fallback for older browsers */
  background: linear-gradient(0deg, rgba(106,13,145,1) 0%, rgba(122,23,171,1) 100%);
  

}

.btn-12 span {
  /* background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%); */
  display: block;
  position: absolute;
  width: 170px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.btn-wrapper-cus{
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 20px;
}

.animate-img{
width: 100%;
margin: auto;
display: grid;
grid-template-columns: 100%;
justify-items: center;
}
.animate-img img{
  margin-top: 80px;
  width: 250px;
}

.face {
  display: flex;
  justify-content: center;
}
.eyes {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.eye {
  position: relative;
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  margin-top: -200px;
}
.eye::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  transform: translate(140%, 70%);
}


#eye1{
  position: relative;
  top: -40px;
  right: -80px;
}

#eye2{
  position: relative;
  top: -40px;
  left: -80px;
}
