@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}




#primary-section-my h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
}

#mydytext{
  font-weight: lighter;
  font-family: 'Playfair Display', serif;
}

#primary-section-my h2{
  font-size: 2rem;
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-weight: lighter;
}



#primary-section-my h1{
color: transparent;
background: linear-gradient(90deg,#6A0D91,#FF6F61);
width: fit-content;
background-clip: text;
margin: auto;
margin-top: 4rem;
}

.gradient-text{
  color: transparent;
  background: linear-gradient(90deg,#6A0D91,#FF6F61);
width: fit-content;
background-clip: text;
}

section{
  max-width: 1200px;
  margin: auto;
}
#primary-section-my p{
max-width: 800px;
margin: auto;
text-align: center;
margin-top: 1rem;
}